SPRING_PROFILES_ACTIVE=dev
API_PORT=8080

DB_URL=jdbc:oracle:thin:@localhost:1521/FREEPDB1
DB_USERNAME=ledger_dev
DB_PASSWORD=ledger_dev_password
DB_POOL_MAX_SIZE=20
DB_POOL_MIN_IDLE=5
DB_CONNECTION_TIMEOUT_MS=30000

ORACLE_PASSWORD=oracle_admin_password
ORACLE_PORT=1521

CLOUDBEAVER_PORT=8978

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PORT=9092

JPA_SHOW_SQL=true
SPRING_DOCKER_COMPOSE_ENABLED=true
SPRING_DOCKER_COMPOSE_FILE=compose.dev.yaml

APP_VERSION=latest
JWT_ISSUER=banking-ledger-local
JWT_AUDIENCE=banking-ledger-api
JWT_SECRET=8804ff2e1be237d7e29b932f2de6525912965a5c7ea760c5bd56bdccee6ec7e1
JWT_CLOCK_SKEW=30s
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=0
APP_CORS_ORIGIN=http://localhost:3000
